<div class="triangle-container">
  <div *ngFor="let circle of circles; let i = index" 
    class="circle-input"
    [ngClass]="{
      'right-shift-0': i === 0,
      'right-shift-1': i === 1,
      'right-shift-2': i === 2,
      'right-shift-3': i === 3,
      'right-shift-4': i === 4,
      'right-shift-5': i === 5,
      'right-shift-6': i === 6,
      'right-shift-8': i === 8,
      'right-shift-9': i === 9,
      'right-shift-10': i === 10,
      'right-shift-11': i === 11
  }">
    <input type="text" [placeholder]="i" [(ngModel)]="inputValues[circle]" />
  </div>
</div>
<router-outlet />